@import '../fonts/trade_gothic.css';
@import './engenuity_scaling_system.scss';
@import './engenuity_color_system.scss';

*,
*::before,
*::after {
  margin: 0;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}
